# Node.js
# Build a general Node.js project with npm.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
- master

pool:
  vmImage: ubuntu-latest

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '10.x'
  displayName: 'NodeToolCheck Node.js'

- script: |
    npm -v
  displayName: 'npm NodeToolCheck'
  
- task: NodeTool@0
  inputs:
    versionSpec: '10.x'
  displayName: 'Install Node.js'

- script: |
    npm install
  displayName: 'npm install '

- task: NodeTool@0
  inputs:
    versionSpec: '10.x'
  displayName: 'Build Node.js'

- script: |
    npm run build
  displayName: 'npm install '
